  {{#each movies}}
  <div class='movieItem'>
<<<<<<< HEAD
    <h2>{{title}}<h2>  <h3>({{year}})</h3> 
    <p>{{actors}}</p>
    <p>{{rating}}</p> 
=======
    <h2>{{Title}} ({{Year}})</h2> 
    <p>{{Actors}}</p>
    <p>{{Rating}}</p> 
>>>>>>> 160d99ec2011770791115b0fadc9a78ad337c510
    <input type="checkbox" name="viewed" checked>
    <!--  $("[name='viewed']").bootstrapSwitch();  -->
    <input type='button' value='delete' class='delete'>
  </div>
  {{/each}}